.root {
  grid-column: col 3 / span 8;
}

.root img {
  border-radius: var(--r2);
  max-width: 100%;
  vertical-align: top;
}

.root code {
  font-family: Consolas, Menlo, Monaco, source-code-pro, Courier New, monospace !important;
  font-size: var(--fs2) !important;
}

.root blockquote {
  background-color: var(--warning2);
  padding: 1rem;
  margin: 0;
  border-radius: var(--r2);
}

.root blockquote > * {
  margin: 0 !important;
}

.root kbd {
  background-color: var(--neutral1);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: var(--r1);
}

.root a {
  color: var(--primary6);
  border-bottom: 2px solid var(--primary1);
  font-weight: 500;
}

.root a:hover {
  color: var(--primary7);
  border-bottom-color: var(--primary7);
}

.root a:active {
  border-bottom-style: dashed;
}

.root p,
.root ul {
  margin-top: var(--leading);
  margin-bottom: var(--leading);
}

.root h1,
.root h2,
.root h3,
.root h4,
.root h5,
.root h6 {
  margin-bottom: 0;
  margin-top: var(--leading);
}

.root table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}

.root table th {
  font-weight: bold;
}

.root table th,
.root table td {
  padding: 6px 13px;
  border: 1px solid var(--neutral2);
}

.root table tr {
  border-top: 1px solid var(--neutral2);
}

.root table tr:nth-child(2n) {
  background-color: var(--neutral1);
}

.root figure {
  margin: 0;
}

.root figcaption {
  margin-top: var(--leading);
  color: var(--neutral5);
  font-size: var(--fs2);
  text-align: center;
}

@media screen and (max-width: 900px) {
  .root {
    grid-column: span 12;
  }

  .root > img {
    max-width: 100vw;
    margin-left: calc(var(--s4) * -1);
    margin-right: calc(var(--s4) * -1);
    border-radius: 0;
  }
}

body[data-theme='dark'] .root img {
  filter: brightness(90%);
}

.header {
  display: flex;
  margin-bottom: var(--s16);
}

.cover {
  flex-shrink: 0;
  font-size: var(--fs11);
  line-height: var(--fs11);
  margin-right: 24px;
}

.title {
  margin: 0 !important;
}

.date {
  font-size: 0.8em;
}

.meta {
}

@media screen and (max-width: 768px) {
  .cover {
    display: none;
  }
}
