.root {
  display: flex;
}

.cover {
  width: 78px;
  height: 118px;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
  border-radius: var(--r1);
  margin-right: 24px;
  box-shadow: var(--shadow-xl);
}

.meta {
  display: flex;
  flex-flow: column;
}

.title {
  font-size: var(--fs3);
  font-weight: 500;
  margin-bottom: var(--s3);
}

.author {
  font-size: var(--fs2);
  color: var(--neutral8);
  margin-bottom: var(--s3);
}

.rating {
  font-size: var(--fs2);
}
