.hero {
  display: flex;
  margin-bottom: var(--s12);

  grid-column: span 6;
}

.contacts {
  overflow-x: auto;
  align-items: center;
  grid-column: span 6;
  margin: 0;
  font-family: Consolas, Menlo, Monaco, source-code-pro, Courier New, monospace;
}

.avatar {
  width: 78px;
  height: 78px;
  margin-right: 24px;
}

.description {
  font-size: var(--fs6);
  line-height: 34px;
  font-weight: normal;
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .hero {
    grid-column: col / span 12;
    margin-bottom: 0;
  }

  .contacts {
    grid-column: col / span 12;
    margin-bottom: var(--s12);
  }
}
