.root {
  position: relative;
}

.nav {
  display: flex;
  transition: all 0.3s ease-out;
}

.nav > *:not(img):not(:last-child) {
  margin-right: var(--s3);
}

.icon {
  display: none;
  margin-left: auto;
}

.close {
  display: none;
  align-self: flex-end;
  margin-right: var(--s4);
  margin-top: var(--s4);
}

.icon,
.close {
  color: var(--neutral10);
}

@media screen and (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  [data-is-open='false'] .nav {
    transform: translateX(-100%);
  }

  [data-is-open='true'] .nav {
    transform: translateX(0);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  .icon {
    display: block;
  }

  .close {
    display: block;
  }

  .nav {
    flex-flow: column;
    background-color: var(--neutral0);
    z-index: 2;
  }

  .nav > *:not(.close):not(.icon) {
    margin: 0 !important;
    text-align: center;
  }
}
