.root {
  position: relative;
}

.nav {
  display: flex;
  transition: opacity 0.2s ease-out;
}

.items {
  display: grid;
  grid-auto-flow: column;
  grid-gap: var(--s3);
}

.icon {
  display: none;
  margin-left: auto;
}

.close {
  display: none;
  align-self: flex-end;
}

.icon,
.close {
  color: var(--neutral10);
}

@media screen and (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: var(--s6) var(--s4);
  }

  [data-is-open='false'] .nav {
    opacity: 0;
    pointer-events: none;
  }

  [data-is-open='true'] .nav {
    box-shadow: var(--shadow-xl);
    opacity: 1;
    pointer-events: all;
  }

  .icon {
    display: block;
  }

  .close {
    display: block;
  }

  .nav {
    flex-flow: column;
    background-color: var(--neutral0);
    z-index: 2;
  }

  .items {
    grid-auto-flow: row;
  }

  .items > * {
    text-align: center !important;
  }
}
