.root {
  grid-column: span 9;
}

.books {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  grid-gap: 24px;
}

.book {
  grid-column: span 1;
}

@media screen and (max-width: 768px) {
  .root {
    grid-column: span 12
  }
}
