.root {
  grid-column: span 3;
}

.nav {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active {
  background-color: var(--neutral1);
}

.close,
.close svg {
  height: 1em;
  width: 1em;
}

@media screen and (max-width: 768px) {
  .root {
    grid-column: span 12;
  }
}
