.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: var(--s12);
  padding-bottom: var(--s12);

  grid-column: col / span 12;
}

@media screen and (max-width: 768px) {
  .root {
    padding-top: var(--s6);
  }
}
