body {
  /* Primary */
  --primary1: #e6e6ff;
  --primary2: #c4c6ff;
  --primary3: #a2a5fc;
  --primary4: #8888fc;
  --primary5: #7069fa;
  --primary6: #5d55fa;
  --primary7: #4d3df7;
  --primary8: #3525e6;
  --primary9: #1d0ebe;
  --primary10: #0c008c;

  /* Neutral */
  --neutral0: #fff;
  --neutral1: #f0f4f8;
  --neutral2: #d9e2ec;
  --neutral3: #bcccdc;
  --neutral4: #9fb3c8;
  --neutral5: #829ab1;
  --neutral6: #627d98;
  --neutral7: #486581;
  --neutral8: #334e68;
  --neutral9: #243b53;
  --neutral10: #102a43;

  /* Success */
  --success1: #effcf6;
  --success2: #c6f7e2;
  --success3: #8eedc7;
  --success4: #65d6ad;
  --success5: #3ebd93;
  --success6: #27ab83;
  --success7: #199473;
  --success8: #147d64;
  --success9: #0c6b58;
  --success10: #014d40;

  /* Warning */
  --warning1: #fffbea;
  --warning2: #fff3c4;
  --warning3: #fce588;
  --warning4: #fadb5f;
  --warning5: #f7c948;
  --warning6: #f0b429;
  --warning7: #de911d;
  --warning8: #cb6e17;
  --warning9: #b44d12;
  --warning10: #8d2b0b;

  /* Danger */
  --danger1: #ffe3e3;
  --danger2: #ffbdbd;
  --danger3: #ff9b9b;
  --danger4: #f86a6a;
  --danger5: #ef4e4e;
  --danger6: #e12d39;
  --danger7: #cf1124;
  --danger8: #ab091e;
  --danger9: #8a041a;
  --danger10: #610316;

  /* Additional */
  --additional1: #e3f8ff;
  --additional2: #b3ecff;
  --additional3: #81defd;
  --additional4: #5ed0fa;
  --additional5: #40c3f7;
  --additional6: #2bb0ed;
  --additional7: #1992d4;
  --additional8: #127fbf;
  --additional9: #0b69a3;
  --additional10: #035388;

  /* Unique */
  --body-bg: var(--neutral0);
  --body-color: var(--neutral10);
}

body {
  background-color: var(--body-bg);
  color: var(--body-color);
}

body.dark-mode {
  --primary10: #e6e6ff;
  --primary9: #c4c6ff;
  --primary8: #a2a5fc;
  --primary7: #8888fc;
  --primary6: #7069fa;
  --primary5: #5d55fa;
  --primary4: #4d3df7;
  --primary3: #3525e6;
  --primary2: #1d0ebe;
  --primary1: #0c008c;

  --neutral10: #fff;
  --neutral9: #f0f4f8;
  --neutral8: #d9e2ec;
  --neutral7: #bcccdc;
  --neutral6: #9fb3c8;
  --neutral5: #829ab1;
  --neutral4: #627d98;
  --neutral3: #486581;
  --neutral2: #334e68;
  --neutral1: #243b53;
  --neutral0: #102a43;

  --success10: #effcf6;
  --success9: #c6f7e2;
  --success8: #8eedc7;
  --success7: #65d6ad;
  --success6: #3ebd93;
  --success5: #27ab83;
  --success4: #199473;
  --success3: #147d64;
  --success2: #0c6b58;
  --success1: #014d40;

  --warning10: #fffbea;
  --warning9: #fff3c4;
  --warning8: #fce588;
  --warning7: #fadb5f;
  --warning6: #f7c948;
  --warning5: #f0b429;
  --warning4: #de911d;
  --warning3: #cb6e17;
  --warning2: #b44d12;
  --warning1: #8d2b0b;

  --additional10: #e3f8ff;
  --additional9: #b3ecff;
  --additional8: #81defd;
  --additional7: #5ed0fa;
  --additional6: #40c3f7;
  --additional5: #2bb0ed;
  --additional4: #1992d4;
  --additional3: #127fbf;
  --additional2: #0b69a3;
  --additional1: #035388;

  --danger10: #ffe3e3;
  --danger9: #ffbdbd;
  --danger8: #ff9b9b;
  --danger7: #f86a6a;
  --danger6: #ef4e4e;
  --danger5: #e12d39;
  --danger4: #cf1124;
  --danger3: #ab091e;
  --danger2: #8a041a;
  --danger1: #610316;

  --body-color: var(--neutral8);
}

body.light-mode {
  transition: background-color 500ms ease;
}
