:root {
  --fs1: 12px;
  --fs2: 14px;
  --fs3: 16px;
  --fs4: 18px;
  --fs5: 20px;
  --fs6: 24px;
  --fs7: 30px;
  --fs8: 36px;
  --fs9: 48px;
  --fs10: 60px;
  --fs11: 72px;

  --base-font-size: 14px;
  --rhythm: 1.625;
  --leading: calc(var(--rhythm) * 1rem);
  --scale: 1.25;
}

*::selection {
  background-color: var(--primary6);
  color: var(--neutral0);
}

body {
  font-family: Roboto, Helvetica, Tahoma, sans-serif;
  font-size: var(--fs3);
  line-height: var(--rhythm);
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

a {
  text-decoration: none;
  color: var(--neutral10);
}

body.dark-mode *::selection {
  background-color: var(--primary7);
  color: var(--neutral8);
}
