.root {
  display: flex;
  align-items: center;
  padding: var(--s3) var(--s4);
  border-radius: var(--r2);
  font-size: var(--fs4);
  line-height: 24px;
  color: var(--neutral8);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border: 1px dashed transparent;
}

.root:hover {
  background-color: var(--neutral1);
  color: var(--neutral10);
}

.root:focus {
  outline: none;
  border-color: var(--neutral4);
}

.root:active {
  border-color: var(--neutral4);
}

.icon {
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-right: var(--s3);
  font-size: 1em;
}
