.root {
  padding: var(--s3) var(--s3);
  border-radius: var(--r2);
  color: var(--neutral8);
  text-decoration: none;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  border: 1px dashed transparent;
  background-color: transparent;
  cursor: pointer;
  text-align: left;
}

.root:hover {
  color: var(--neutral10);
  background-color: var(--neutral1);
}

.root:focus {
  outline: none;
  border-color: var(--neutral4);
}

.root:active {
  border-color: var(--neutral4);
}
