.root {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: var(--fs3);
  transition: opacity 0.2s ease-in-out;
}

.item {
  display: flex;
  align-items: center;
  font-size: var(--fs3);
  color: var(--neutral8);
}

.item:hover {
  text-decoration: underline;
  color: var(--neutral10);
}

.item:hover .icon {
  opacity: 0.8;
}

.item:not(:last-child) {
  margin-bottom: var(--s3);
}
