.root {
  display: inline-block;
  position: relative;
}

.root::after {
  content: '';
  display: block;
  border-radius: var(--r1);
  position: absolute;
  left: 0;
  top: 55%;
  height: 0.3em;
  width: 100%;
  z-index: -1;
  background-image: linear-gradient(
    to right,
    var(--additional2) 70%,
    var(--additional1)
  );
}
